[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
